# cache
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.cov_cache/

# installation artifacts
.yamk/
/node_modules/

# static
/src/**/*.js
/src/**/*.css
/.static/

# local dev
/cookbook.yaml.d/
/cc_bz_project_name.yml
local.*
local/

# translations
*.mo
