# cache
__pycache__/
.mypy_cache/
.pytest_cache/

# installation specific files
local*.*
.yamk/
/cookbook.toml.d/
/{{cookiecutter.project_name}}.yml

# static
*.css
/.static/
/node_modules/

# testing
.coverage

# translations
*.mo
