# cache
__pycache__/
.mypy_cache/
.pytest_cache/
.coverage_cache/
.ruff_cache/

# installation specific files
local/
local*.*
.yamk/
/cookbook.toml.d/
/{{cookiecutter.project_name}}.yml

# static
/src/**/*.js
/src/**/*.css
/.static/
/node_modules/

# translations
*.mo
