{% raw -%}
{% extends 'lib/base.html' %}

{% block main_body %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please, try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>
                Your account doesn't have access to this page.
                To proceed, please log in with an account that has access.
            </p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        <p class="lead">
            {% csrf_token %}
            <label for="{{ form.email.id_for_label }}">Email:</label>
            <input id="{{ form.email.id_for_label }}" class="form-control" type="email" name="username" required>
            <label for="{{ form.password.id_for_label }}">Password:</label>
            <input id="{{ form.password.id_for_label }}" class="form-control" type="password" name="password" required>
            <input type="hidden" name="next" value="{{ next }}"/>
            <button class="btn btn-block btn-primary mt-2">Login</button>
        </p>
    </form>

    <div>
        <a href="{% url 'password_reset' %}">Forgot my password</a>
    </div>
{% endblock %}
{%- endraw %}
