server {
{% raw -%}
	listen 80;
	server_name {{base_url}};

	return 301 https://{{base_url}}$request_uri;
{%- endraw %}
}

server {
{% raw %}
	listen 443 ssl http2;
	server_name {{base_url}};

	ssl_certificate ssl/certs/{{base_url}}.crt;
	ssl_certificate_key ssl/keys/{{server_name}}.key;

	location /favicon.ico {
		alias {{work_dir}}/static/core/images/favicon.ico;
	}

	location /static/ {
		alias {{work_dir}}/static/;
	}

	location / {
		proxy_redirect		off;
		proxy_set_header	Host				$http_host;
		proxy_set_header	X-Real-IP			$remote_addr;
		proxy_set_header	X-Forwarded-For		$proxy_add_x_forwarded_for;
		proxy_set_header	X-Forwarded-Proto	$scheme;

{%- endraw %}
		proxy_pass	http://unix:/run/{{cookiecutter.project_name}}/gunicorn.sock;
	}
}
