{% raw -%}
[Unit]
Description={{service_name}} socket

[Socket]
ListenStream=/run/{{service_name}}/gunicorn.sock

[Install]
WantedBy=sockets.target
{%- endraw %}
