{% raw -%}
[Unit]
Description={{service_name}} server
Requires={{service_name}}.socket
After=network.target

[Service]
Environment=DJANGO_SETTINGS_MODULE=settings.local
PIDFile=/run/{{service_name}}/gunicorn.pid
User={{user}}
Group={{group}}
Restart=on-failure
WorkingDirectory={{work_dir}}
ExecStart={{venv_dir}}/bin/gunicorn \
          --pid /run/{{service_name}}/gunicorn.pid \
          --bind unix:/run/{{service_name}}/gunicorn.sock \
          sigil.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
{%- endraw %}
